/*
 Copyright of DBlockbuster 2024 This has been added by DBlockbuster for the site for extra stylng needs by DBlockbuster
*/

.listOfRequirements {
  text-align: center;
  font-size: 1.25rem;
  color: white;
}
