.listOfRequirements {
  text-align: center;
  font-size: 1.25rem;
  color: white;
}

.btn-primary2 {
  background-color: #a600ff;
  color: white;
  text-align: center;
}

.btn-primary2:hover {
  background-color: #7617b5;
  color: white;
  font-style: bold;
}


.btn-secondary2 {
  background-color: #c95213;
  color: black;
  text-align: center;
  
}

.btn-secondary2:hover {
  background-color: #f27107;
  color: black;
  font: bold;
}

.btn-yt2 {
  background-color: #c91313;
  color: white;
  text-align: center;

}

.btn-yt2:hover {
  background-color: #f20707;
  color: white;
  font: bold;
}

@media screen and (min-width: 990px) {
  .navbar-collapse.dropdown-menu {
      position: relative !important; /* Set position to relative */
      top: 100% !important;
      left: 0 !important;
      z-index: 1000 !important;
      display: flexbox !important;
      flex-direction: column !important;
      justify-content: center !important; /* Center items horizontally */
      min-width: 10rem !important;
      padding: 1rem 0 !important;
      margin: 0rem !important;
      margin-left: 1rem !important; /* Center the entire dropdown menu */
      font-size: 1rem !important;
      color: #212529 !important;
      text-align: center !important;
      list-style: none !important;
      background-color: #fff !important;
      background-clip: padding-box !important;
      border: 1px solid rgba(0, 0, 0, .15) !important;
      border-radius: .25rem !important;
  }
}


.navbar-collapse.dropdown-menu {
    position: absolute;
    top: 100%; /* Adjust this value as needed */
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 4.40rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}


.toast-container {
    position: fixed;
    top: 20px; /* Adjust this value to change the vertical position */
    right: 20px; /* Adjust this value to change the horizontal position */
    z-index: 1050; /* Ensure the z-index is above other content */
}

.toast-title {
    background-color: purple;
    color: white;
    font-size: 1.5rem;
}

.toast-description {
    background-color: #383838; /* Gray background color */
    color: white;
    font-size: 1.2rem;
}


.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}


.container2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices */
  scroll-behavior: smooth; /* Adds smooth scrolling behavior */
}

.table-responsive table {
  font-size: 2em;
  width: max-content;
  white-space: nowrap;
/*  min-width: 100%;
  max-width: 100%;*/
  border-collapse: collapse; /* Collapse table borders */
  background-color: #f9f9f9; /* Set background color */
}

.table-responsive th,
.table-responsive td {
  text-align: center;
  padding: 8px; /* Add padding for cells */
  border: 1px solid #ddd; /* Add borders */
  white-space: normal;
}

.table-responsive th {
  background-color: #f1f1f1; /* Set header background color */
}

.table-responsive::-webkit-scrollbar {
  height: 30px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #888; /* You can set the color if needed */
}


.embed-responsive-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (9 / 16 = 0.5625) */
}

.embed-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* Custom CSS for Bootstrap tooltip text */
.tooltip-inner {
    font-size: 1.5em; /* Adjust the font size as needed */
}