.listOfRequirements {
  text-align: center;
  font-size: 1.25rem;
  color: white;
}

.btn-primary2 {
  background-color: #a600ff;
  color: white;
  text-align: center;
}

.btn-primary2:hover {
  background-color: #7617b5;
  color: white;
  font-style: bold;
}


.btn-secondary2 {
  background-color: #c95213;
  color: black;
  text-align: center;
  
}

.btn-secondary2:hover {
  background-color: #f27107;
  color: black;
  font: bold;
}

.btn-yt2 {
  background-color: #c91313;
  color: white;
  text-align: center;

}

.btn-yt2:hover {
  background-color: #f20707;
  color: white;
  font: bold;
}




.navbar-collapse.dropdown-menu {
    position: absolute;
    top: 100%; /* Adjust this value as needed */
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 4.40rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}
