/*
This file has been added by the DBlockbuster Group to for the dblockbuster.com website!
*/
.listOfRequirements {
  text-align: center;
  font-size: 1.25rem;
  color: white;
}

.btn-primary2 {
  background-color: #a600ff;
  color: white;
  text-align: center;
}

.btn-primary2:hover {
  background-color: #7617b5;
  color: white;
  font-style: bold;
}


.btn-secondary2 {
  background-color: #c95213;
  color: black;
  text-align: center;
  
}

.btn-secondary2:hover {
  background-color: #f27107;
  color: black;
  font: bold;
}

.btn-yt2 {
  background-color: #c91313;
  color: white;
  text-align: center;

}

.btn-yt2:hover {
  background-color: #f20707;
  color: white;
  font: bold;
}

@media screen and (min-width: 990px) {
  .navbar-collapse.dropdown-menu {
      position: relative !important; /* Set position to relative */
      top: 100% !important;
      left: 0 !important;
      z-index: 1000 !important;
      display: flexbox !important;
      flex-direction: column !important;
      justify-content: center !important; /* Center items horizontally */
      min-width: 10rem !important;
      padding: 1rem 0 !important;
      margin: 0rem !important;
      margin-left: 1rem !important; /* Center the entire dropdown menu */
      font-size: 1rem !important;
      color: #212529 !important;
      text-align: center !important;
      list-style: none !important;
      background-color: #fff !important;
      background-clip: padding-box !important;
      border: 1px solid rgba(0, 0, 0, .15) !important;
      border-radius: .25rem !important;
  }
}

.navbar-collapse.dropdown-menu {
    position: absolute;
    top: 100%; /* Adjust this value as needed */
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 4.40rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}
